<form class="flex flex-col justify-start items-start mt-10 md:mt-20">
  <div
    class="flex justify-between items-center text-lg md:text-2xl lg:text-4xl mt-5 w-full"
  >
    <label for="text">What's your new task?</label>
    <input
      type="text"
      name="text"
      id="text"
      class="border-[#0c2a3e] border-4 rounded-xl px-4 py-2 outline-[#b24f51] w-1/2"
    />
  </div>
  <div
    class="flex justify-between items-center text-lg md:text-2xl lg:text-4xl mt-5 w-full"
  >
    <label for="day">When do you want to be done?</label>
    <input
      type="text"
      name="day"
      id="day"
      class="border-[#0c2a3e] border-4 rounded-xl px-4 py-2 outline-[#b24f51] w-1/2"
    />
  </div>
  <div
    class="flex justify-between items-center text-lg md:text-2xl lg:text-4xl mt-5 w-full"
  >
    <label for="reminder">Should you put a reminder?</label>
    <input
      type="checkbox"
      name="reminder"
      id="reminder"
      class="border-[#0c2a3e] h-5 w-5 border-4 rounded-xl px-4 py-2 outline-[#b24f51]"
    />
  </div>
</form>
